<section id="contacto">
  <div class="container">
    <p class="section-label">Hablemos</p>
    <h2 class="section-title">Contáctenos</h2>
    <div class="section-line"></div>

    <div class="contacto-grid">

      <!-- INFO -->
      <div class="contact-info">
        <p>
          Estamos listos para asesorarle en la selección del material ideal para su proyecto.
          No dude en comunicarse con nosotros.
        </p>

        <div class="contact-card">
          <i class="fa-solid fa-user-tie"></i>
          <div>
            <strong>Ventas & Dirección</strong>
            <span>Sr. Carlos Cua Pool</span>
            <span>Ing. Antonio Pech</span>
          </div>
        </div>

        <a class="contact-card" href="mailto:pool-tunich@hotmail.com">
          <i class="fa-solid fa-envelope"></i>
          <div>
            <strong>Correo</strong>
            <a>pool-tunich&#64;hotmail.com</a>
          </div>
        </a>

        <a class="contact-card" href="tel:9993324772">
          <i class="fa-solid fa-phone"></i>
          <div>
            <strong>Teléfono</strong>
            <a>999 332 4772</a>
          </div>
        </a>

        <a class="contact-card" href="https://api.whatsapp.com/send/?phone=529993324772&text=Hola%2C+estoy+interesado+en+recibir+informaci%C3%B3n&type=phone_number&app_absent=0"
              target="_blank">
          <i class="fa-brands fa-whatsapp"></i>
          <div>
            <strong>WhatsApp</strong>
            <a>
              Enviar mensaje
            </a>
          </div>
        </a>

        <a class="contact-card" href="https://maps.app.goo.gl/txuKgs7NfC731Sdb7" target="_blank">
          <i class="fa-solid fa-location-dot"></i>
          <div>
            <strong>Ubicación</strong>
            <a>
              Ver en Google Maps
            </a>
          </div>
        </a>

        <div class="contact-card social">
          <i class="fa-solid fa-share-nodes"></i>
          <div>
            <strong>Redes</strong>
            <div class="social-links">
              <a href="https://www.instagram.com/pooltunichmx/" target="_blank">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="https://www.facebook.com/pooltunichmx?locale=es_LA" target="_blank">
                <i class="fa-brands fa-facebook-f"></i>
              </a>
            </div>
          </div>
        </div>

      </div>

      <!-- MAPA -->
      <div class="contact-map">
        <iframe src="https://maps.google.com/maps?q=pool%20tunich%20merida&t=&z=15&ie=UTF8&iwloc=&output=embed"
          loading="lazy">
        </iframe>
      </div>

    </div>
  </div>
</section>
