<section id="galeria">
  <div class="container">
    <p class="section-label">Portafolio</p>
    <h2 class="section-title" style="color:var(--cream);">
      Galería de trabajos realizados
    </h2>
    <div class="section-line"></div>

    <swiper-container slides-per-view="1" space-between="10" loop="true" navigation="true" pagination="true"
      autoplay-delay="5000" breakpoints='{
                                            "640": { "slidesPerView": 1 },
                                            "768": { "slidesPerView": 1 },
                                            "1024": { "slidesPerView": 1 }
                                          }'
      class="mySwiper">
      <swiper-slide *ngFor="let img of images">
        <div class="slide">
          <img [src]="img.src" [alt]="img.title" class="gallery-main" />

          <div class="overlay">
            <h3>{{ img.title }}</h3>
            <p>{{ img.description }}</p>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>

  </div>
</section>
